<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Dépôt d'argent</title>
    </h:head>
    <h:body>
        <ui:composition template="../templates/template_client.xhtml">
            <ui:define name="title">Dépôt d'argent</ui:define>
            <ui:define name="toolbar"></ui:define>
            <ui:define name="content">
                <f:view>
                    <h:form>
                        <div class="col-md-8 offset-2">
                            <div class="form-group">
                                <p:outputLabel for="depot-compte" value="Compte : " />
                                <h:selectOneMenu id="depot-compte" styleClass="form-control"  value="#{compteBancaireDepot.compte}" style="width: 25%; min-width: 300px;">
                                    <f:selectItem itemLabel="Choisir un compte" itemValue="" noSelectionOption="true"/>
                                    <c:forEach var="item" items="#{compteBancaireDepot.listeComptes}">
                                        <f:selectItem itemLabel="#{item.nom} : #{item.solde}" itemValue="#{item.id}" />
                                    </c:forEach>
                                </h:selectOneMenu>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Montant :" for="depot-montant" />
                                <h:inputText id="depot-montant" styleClass="form-control col-md-8" value="#{compteBancaireDepot.montant}" title="montant" />
                            </div>
                            <a class="btn btn-outline-secondary" style="margin-right: 2%;"  href="/TP3BanquePoirierVermersch-war/client/ClientListeComptes.xhtml">Annuler</a>
                            <h:commandButton id="save" styleClass="btn btn-success" value="Faire un dépôt" action="#{compteBancaireDepot.deposer}"/>
                        </div>
                    </h:form>
                </f:view>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

