<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="/template_presentation.xhtml">
    
    <f:metadata>
        <f:viewParam name="idCompte" value="#{compteBancaireDetails.idCompte}" required="true"/>
        <f:viewAction action="#{compteBancaireDetails.loadCompteBancaire}"/>
    </f:metadata>
    
    <h:head>
        <title>Liste des comptes bancaires</title>
    </h:head>
    <h:body>
        <ui:composition template="../templates/template_client.xhtml">
            <ui:define name="title">Details du compte #{compteBancaireDetails.details.nom}</ui:define>
            <ui:define name="toolbar"></ui:define>
            <ui:define name="content">
                <h:form>
                    <f:view>
                        <div class="col-md-8 offset-2">
                            <div class="form-group">
                                <h:outputLabel value="Numéro du compte :" for="id" />
                                <h:inputText id="id" styleClass="form-control col-md-8" value="#{compteBancaireDetails.details.id}" title="Id" readonly="true"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Libellé du compte :" for="nom" />
                                <h:inputText id="nom" styleClass="form-control col-md-8" value="#{compteBancaireDetails.details.nom}" title="Nom" readonly="true"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Solde du compte :" for="solde" />
                                <h:inputText id="solde" styleClass="form-control col-md-8" value="#{compteBancaireDetails.details.solde}" title="Solde" readonly="true"/>
                            </div>
                            <a class="btn btn-outline-secondary" href="/TP3BanquePoirierVermersch-war/client/ClientListeComptes.xhtml">Retour</a>
                        </div>
                    </f:view>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>



