<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Retrait d'argent</title>
    </h:head>
    <h:body>
        <ui:composition template="../templates/template_client.xhtml">
            <ui:define name="title">Retrait d'argent</ui:define>
            <ui:define name="toolbar"></ui:define>
            <ui:define name="content">
                <h:form>
                    <div class="col-md-8 offset-2">
                        <div class="form-group">
                            <h:outputLabel value="Compte :" for="retrait-compte"/>
                            <h:selectOneMenu id="retrait-compte" styleClass="form-control" value="#{compteBancaireRetraitMB.compte}" style="width: 300px">
                                <f:selectItem itemLabel="Choisir un compte" itemValue="" noSelectionOption="true"/>
                                <c:forEach var="item" items="#{compteBancaireRetraitMB.listeComptes}">
                                    <f:selectItem itemLabel="#{item.nom} : #{item.solde}" itemValue="#{item.id}"/>
                                </c:forEach>
                            </h:selectOneMenu>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Montant :" for="retrait-montant" />
                            <h:inputText id="retrait-montant" styleClass="form-control col-md-8" value="#{compteBancaireRetraitMB.montant}" title="Montant" />
                        </div>
                        <h:commandButton id="back" value="Annuler" styleClass="btn btn-outline-secondary" style="margin-right: 2%;" action="#{compteBancaireDetails.list}"/>
                        <h:commandButton id="update" value="Confirmer" styleClass="btn btn-success" action="#{compteBancaireRetraitMB.retirer}"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

