<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="/template_presentation.xhtml">
    <h:head>
        <title>List des comptes bancaires</title>
    </h:head>
    <h:body>
        <ui:composition template="../templates/template_client.xhtml">
            <ui:define name="title">Liste des comptes bancaires</ui:define>
            <ui:define name="toolbar"></ui:define>
            <ui:define name="content">
                <f:view>
                    <div class="table-responsive">
                        <h:form>
                            <p:dataTable value="#{compteBancaireMB.compteBancaireList}" var="item">
                                <p:column sortBy="#{item.id}" styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Numéro de compte"/>
                                    </f:facet>
                                    <h:outputText value="#{item.id}"/>
                                </p:column>
                                <p:column sortBy="#{item.nom}" styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Libellé"/>
                                    </f:facet>
                                    <h:outputText value="#{item.nom}"/>
                                </p:column>
                                <p:column sortBy="#{item.solde}" styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Solde"/>
                                    </f:facet>
                                    <h:outputText value="#{item.solde}"/>
                                </p:column>
                                <p:column styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Voir plus"/>
                                    </f:facet>
                                    <h:link outcome="#{compteBancaireMB.showDetails(item.id)}"><span data-feather="zoom-in"></span> Voir les détails </h:link>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
                    <script>
                        feather.replace()
                    </script>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>