<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="/template_presentation.xhtml">
    
    <f:metadata>
        <f:viewParam name="idClient" value="#{conseillerClientDetailsMB.idClient}" required="true"/>
        <f:viewAction action="#{conseillerClientDetailsMB.loadClient}"/>
    </f:metadata>
    
    <h:head>
        <title>Détails d'un client</title>
    </h:head>
    
    <h:body>
        <ui:composition template="../templates/template_conseiller.xhtml">
            <ui:define name="title">Details d'un client #{conseillerClientDetailsMB.details.nom}</ui:define>
            <ui:define name="toolbar"></ui:define>
            <ui:define name="content">
                <h:form>
                <f:view>
                    <div class="col-md-8 offset-2">
                        <div class="form-group">
                            <h:outputLabel value="Numéro ID du client :" for="id"/>
                            <h:inputText id="id" styleClass="form-control col-md-8" value="#{conseillerClientDetailsMB.details.id}" title="Id" readonly="true"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Numéro client :" for="numeroClient"/>
                            <h:inputText id="numeroClient" styleClass="form-control col-md-8" value="#{conseillerClientDetailsMB.details.numeroDeClient}" title="NumeroEmploye" readonly="true"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Nom du conseiller :" for="nom"/>
                            <h:inputText id="nom" styleClass="form-control col-md-8" value="#{conseillerClientDetailsMB.details.nom}" title="Nom" readonly="true"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Prenom du conseiller :" for="prenom"/>
                            <h:inputText id="prenom" styleClass="form-control col-md-8" value="#{conseillerClientDetailsMB.details.prenom}" title="Prenom" readonly="true"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Adresse du conseiller :" for="adresse"/>
                            <h:inputText id="adresse" styleClass="form-control col-md-8" value="#{conseillerClientDetailsMB.details.adresse}" title="Adresse" readonly="true"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Username du conseiller :" for="username"/>
                            <h:inputText id="username" styleClass="form-control col-md-8" value="#{conseillerClientDetailsMB.details.username}" title="Username" readonly="true"/>
                        </div>
                        <a class="btn btn-outline-secondary" href="/TP3BanquePoirierVermersch-war/conseiller/ConseillerListeClients.xhtml">Retour</a>
                    </div>
                </f:view>
            </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>