<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ajout d'un client</title>
    </h:head>
    <h:body>
        <ui:composition template="../templates/template_conseiller.xhtml">
            <ui:define name="title">Ajout d'un client</ui:define>
            <ui:define name="toolbar"></ui:define>
            <ui:define name="content">
                <h:form>
                    <f:view>
                        <div class="col-md-8 offset-2">
                            <div class="form-group">
                                <h:outputLabel value="Numéro du client :" for="numeroClient"/>
                                <h:inputText id="numeroClient" styleClass="form-control col-md-8" title="NumeroDeClient" value="#{conseillerAjouterClientMB.numeroClient}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Nom du client :" for="nom"/>
                                <h:inputText id="nom" styleClass="form-control col-md-8" title="Nom" value="#{conseillerAjouterClientMB.nom}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Prenom du client :" for="prenom"/>
                                <h:inputText id="prenom" styleClass="form-control col-md-8" title="Prenom" value="#{conseillerAjouterClientMB.prenom}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Adresse du client :" for="adresse"/>
                                <h:inputText id="adresse" styleClass="form-control col-md-8" title="Adresse" value="#{conseillerAjouterClientMB.adresse}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Username du client :" for="username"/>
                                <h:inputText id="username" styleClass="form-control col-md-8" title="Username" value="#{conseillerAjouterClientMB.username}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Password du client :" for="password"/>
                                <h:inputText id="password" styleClass="form-control col-md-8" title="Password" value="#{conseillerAjouterClientMB.password}"/>
                            </div>
                            <a class="btn btn-outline-secondary" style="margin-right: 2%" href="/TP3BanquePoirierVermersch-war/conseiller/ConseillerListeClients.xhtml">Annuler</a>
                            <h:commandButton id="create" styleClass="btn btn-success" value="Créer le client" action="#{conseillerAjouterClientMB.submit()}"/>
                        </div>
                    </f:view>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

