<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Accueil</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/template_index.xhtml">
            <ui:define name="title">Accueil</ui:define>
            <ui:define name="toolbar"></ui:define>
            
            <ui:define name="content">
                <div class="col-md-4 offset-md-4">
                    <h:form>
                        <div class="form-group">
                            <label for="input-login-login">Login</label>
                            <h:inputText class="form-control" id="input-login-login" value="#{loginMB.username}" p:placeholder="Login"/>
                        </div>
                        <div class="form-group">
                            <label for="input-login-password">Password</label>
                            <h:inputSecret class="form-control" id="input-login-password" value="#{loginMB.password}" p:placeholder="Password"/>
                        </div>
                        <h:commandButton id="send-login" value="Login" styleClass="btn btn-primary" action="#{loginMB.submit()}">
                        </h:commandButton>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

