<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="/template_presentation.xhtml">
    
    <h:head>
        <title>Liste des personnes</title>
    </h:head>
    <h:body>
        <ui:composition template="../templates/template_administrateur.xhtml">
            <ui:define name="title">Liste des conseillers</ui:define>
            <ui:define name="toolbar">
                <div class="btn-group mr-2">
                    <h:link outcome="#{administrateurAjouterConseillerMB.addConseiller()}" styleClass="btn btn-sm btn-outline-secondary"><span data-feather="circle-plus"></span>Ajouter conseiller</h:link>
                </div>
            </ui:define>
            <ui:define name="content">
                <f:view>
                    <div class="table-responsive">
                        <h:form>
                            <p:dataTable value="#{conseillerMB.conseillerList}" var="item">
                                <p:column sortBy="#{item.id}" styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Numéro de personne"/>
                                    </f:facet>
                                    <h:outputText value="#{item.id}"/>
                                </p:column>
                                <p:column sortBy="#{item.nom}" styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Nom"/>
                                    </f:facet>
                                    <h:outputText value="#{item.nom}"/>
                                </p:column>
                                <p:column sortBy="#{item.prenom}" styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Prenom"/>
                                    </f:facet>
                                    <h:outputText value="#{item.prenom}"/>
                                </p:column>
                                <p:column sortBy="#{item.adresse}" styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Adresse"/>
                                    </f:facet>
                                    <h:outputText value="#{item.adresse}"/>
                                </p:column>
                                <p:column sortBy="#{item.username}" styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Username"/>
                                    </f:facet>
                                    <h:outputText value="#{item.username}"/>
                                </p:column>
                                <p:column styleClass="text-center">
                                    <f:facet name="header">
                                        <h:outputText value="Voir plus"/>
                                    </f:facet>
                                    <h:link outcome="#{conseillerMB.showDetails(item.id)}"><span data-feather="zoom-in"></span> Voir les détails </h:link>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
                    <script>
                        feather.replace()
                    </script>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

