<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ajout d'un conseiller</title>
    </h:head>
    <h:body>
        <ui:composition template="../templates/template_administrateur.xhtml">
            <ui:define name="title">Ajout d'un conseiller</ui:define>
            <ui:define name="toolbar"></ui:define>
            <ui:define name="content">
                <h:form>
                    <f:view>
                        <div class="col-md-8 offset-2">
                            <div class="form-group">
                                <h:outputLabel value="Numéro du conseiller :" for="numeroEmploye"/>
                                <h:inputText id='numeroEmploye' styleClass="form-control col-md-8" title="numeroEmploye" value="#{administrateurAjouterConseillerMB.numeroConseillier}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Nom du conseiller :" for="nom"/>
                                <h:inputText id="nom" styleClass="form-control col-md-8" title="Nom" value="#{administrateurAjouterConseillerMB.nom}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Prenom du conseiller :" for="prenom"/>
                                <h:inputText id="prenom" styleClass="form-control col-md-8" title="Prenom" value="#{administrateurAjouterConseillerMB.prenom}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Adresse du conseiller :" for="adresse"/>
                                <h:inputText id="adresse" styleClass="form-control col-md-8" title="Adresse" value="#{administrateurAjouterConseillerMB.adresse}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Username du conseiller :" for="username"/>
                                <h:inputText id="username" styleClass="form-control col-md-8" title="Username" value="#{administrateurAjouterConseillerMB.username}"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Password du conseiller :" for="password"/>
                                <h:inputText id="password" styleClass="form-control col-md-8" title="Password" value="#{administrateurAjouterConseillerMB.password}"/>
                            </div>
                            <a class="btn btn-outline-secondary" style="margin-right: 2%" href="/TP3BanquePoirierVermersch-war/administrateurListeConseillers.xhtml">Annuler</a>
                            <h:commandButton id="create" styleClass="btn btn-success" value="Créer le conseiller" action="#{administrateurAjouterConseillerMB.submit()}"/>
                        </div>
                    </f:view>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

