<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="/template_presentation.xhtml">
    
    <f:metadata>
        <f:viewParam name="idConseiller" value="#{conseillerDetails.idConseiller}" required="true"/>
        <f:viewAction action="#{conseillerDetails.loadConseiller}"/>
    </f:metadata>
    
    <h:head>
        <title>Détails d'un conseiller</title>
    </h:head>
    
    <h:body>
        <ui:composition template="../templates/template_administrateur.xhtml">
            <ui:define name="title">Details du conseiller #{conseillerDetails.details.nom}</ui:define>
            <ui:define name="toolbar"></ui:define>
            <ui:define name="content">
                <h:messages style="color: green"></h:messages>
                <h:form>
                    <f:view>
                        <div class="col-md-8 offset-2">
                            <div class="form-group">
                                <h:outputLabel value="Numéro ID du conseiller :" for="id"/>
                                <h:inputText id="id" styleClass="form-control col-md-8" value="#{conseillerDetails.details.id}" title="Id" readonly="true"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Numéro employé du conseiller :" for="numeroEmploye"/>
                                <h:inputText id="numeroEmploye" styleClass="form-control col-md-8" value="#{conseillerDetails.details.numeroEmploye}" title="NumeroEmploye"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Nom du conseiller :" for="nom"/>
                                <h:inputText id="nom" styleClass="form-control col-md-8" value="#{conseillerDetails.details.nom}" title="Nom"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Prenom du conseiller :" for="prenom"/>
                                <h:inputText id="prenom" styleClass="form-control col-md-8" value="#{conseillerDetails.details.prenom}" title="Prenom"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Adresse du conseiller :" for="adresse"/>
                                <h:inputText id="adresse" styleClass="form-control col-md-8" value="#{conseillerDetails.details.adresse}" title="Adresse"/>
                            </div>
                            <div class="form-group">
                                <h:outputLabel value="Username du conseiller :" for="username"/>
                                <h:inputText id="username" styleClass="form-control col-md-8" value="#{conseillerDetails.details.username}" title="Username"/>
                            </div>
                            <a class="btn btn-outline-secondary" style="margin-right: 2%" href="/TP3BanquePoirierVermersch-war/administrateur/AdministrateurListeConseillers.xhtml">Retour</a>
                            <h:commandButton id="create" styleClass="btn btn-success" value="Mettre à jour le conseiller" action="#{conseillerDetails.update()}"/>
                        </div>
                    </f:view>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

