<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="/template_presentation.xhtml">
    
    <f:metadata>
        <f:viewParam name="idPersonne" value="#{personneDetails.idPersonne}" required="true"/>
        <f:viewAction action="#{personneDetails.loadPersonne}"/>
    </f:metadata>
    
    <h:head>
        <title>Détails d'une personne</title>
    </h:head>
    
    <h:body>
        <ui:composition template="../templates/template_administrateur.xhtml">
            <ui:define name="title">Details de la personne #{personneDetails.details.nom}</ui:define>
            <ui:define name="toolbar"></ui:define>
            <ui:define name="content">
                <f:view>
                    <div class="col-md-8 offset-2">
                        <div class="form-group">
                            <h:outputLabel value="Numéro id personne :" for="id"/>
                            <h:inputText id="id" styleClass="form-control col-md-8" value="#{personneDetails.details.id}" title="Id" readonly="true"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Nom de la personne :" for="nom"/>
                            <h:inputText id="nom" styleClass="form-control col-md-8" value="#{personneDetails.details.nom}" title="Nom" readonly="true"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Prenom de la personne :" for="prenom"/>
                            <h:inputText id="prenom" styleClass="form-control col-md-8" value="#{personneDetails.details.prenom}" title="Prenom" readonly="true"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Adresse de la personne :" for="adresse"/>
                            <h:inputText id="adresse" styleClass="form-control col-md-8" value="#{personneDetails.details.adresse}" title="Adresse" readonly="true"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Username de la personne :" for="username"/>
                            <h:inputText id="username" styleClass="form-control col-md-8" value="#{personneDetails.details.username}" title="Username" readonly="true"/>
                        </div>
                        <a class="btn btn-outline-secondary" href="/TP3BanquePoirierVermersch-war/administrateur/PersonneList.xhtml">Retour</a>
                    </div>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

