<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:insert name="metadata"/>

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="bootstrap-grid.min.css"/>
        <h:outputStylesheet library="css" name="bootstrap-reboot.min.css"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="css" name="default.css"/>  
        <title><ui:insert name="title">Title</ui:insert></title>
    </h:head>

    <body>

        <div class="container-fluid" id="main-container">
            <div class="row" id="main-row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2"><ui:insert name="title">Titre</ui:insert></h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <ui:insert name="toolbar">Toolbar</ui:insert>
                        </div>
                    </div>
                    
                    <ui:insert name="content">Content</ui:insert>
                </main>
            </div>
        </div>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
    </body>
    <h:outputScript library="js" name="bootstrap.bundle.min.js" />
    <h:outputScript library="js" name="bootstrap.min.js" />
</html>
